/*

Velotandem OÜ koduleht
© Rando Kall | fotovabrik.eu

*/

@import url(http://fonts.googleapis.com/css?family=Abel);


body {
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
}

p, a {
	font-family: 'Abel', sans-serif;
	font-size: 16px;
}


.navbar-default .navbar-nav > li > a {
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	line-height: 24px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Abel', sans-serif;
	margin-bottom: 30px;
}

h1 {
	margin-bottom: 30px;
}

.wide {
	padding-top: 50px;
	width:100%;
	height:400px;
	background-image:url('../images/1.jpg');
	background-size:cover;
}

.wide img {
	width:100%;
}

.wide h1 {
	color: black;
 	font-size: 45px;
 	background-color: rgba(242, 242, 242, 0.67);
 	text-transform: uppercase;
 	font-weight: bold;
 	text-align: center;
 	position: relative;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
}
.lead {
	color:#83bc3b;
	margin-top: 20px;
	margin-bottom: 10px;
}

.keskel {
	text-align: center;
}

.cta {
	padding-top: 50px;
	  margin: 0 auto;

}

.cta h1, h2 {
	color:#dda304;
}


.vahe {
	margin-top: 30px;
}



.teenus {
	background-color: #f4fff5;
	padding-bottom: 10px;
}



.kast {
	padding: 20px 15px;
}

.kast img {
	width:100%;
}

.kast h1, h4 {
	color:#83bc3b
}

.pisipilt img {
	width:100px;
    height: auto;
}

#kontakt p {
	margin-top: 20px;
}

#kontakt img {
	margin-bottom: 30px;
}


#footer{
	background-color: #999999;
	height: 60px;
}


/* Galerii osa */

#pildid {
  margin: 0 auto;
  
}

#pildid .item {
  width:  300px;
  float: left;
}

.swipebox {
	display: inline-block;
	height: auto;
	max-width: 100%;
	padding: 4px;
	margin: 6px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
/*	border-radius: 1px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;	
	box-shadow: 4px 4px 10px #b8b8b8; */

}

